html {
    font-family: "Outfit", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #383838;
}
  
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #292929;
    padding: 10px 100px;
}
  
.logo {
    font-weight: bold;
}

.logo img {
    width: 200px; /* Adjust the width to your desired size */
    height: auto; /* Preserve the aspect ratio */
}  

nav{
    margin-right: auto;
}
  
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
nav li {
    display: inline;
    margin-right: 30px;
  }
  
nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}

nav a:hover{
    color: #8C52FF;
    transition: 0.3s;
}

/* Dropdown Content */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #383838;
    padding: 20px;
    top: 10%;
    left: 27.5%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:nth-child(3) .dropdown-content {
    left: 36%;
    top: calc(10%);
}
  
.dropdown:nth-child(4) .dropdown-content {
    left: 43.5%;
    top: calc(10%);
}

.dropdown:nth-child(5) .dropdown-content {
    left: 53%;
    top: calc(10%);
}

.dropdown-content a {
    display: inline-block;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 15em;
    margin-bottom: 1px;
    padding: 3px 0;
}

.dropdown:active .dropdown-content {
    opacity: 1;
    visibility: visible;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
  }

.show {
    display: block;
  }

/* Icons */

.fa-angle-down {
    font-size: 15px; /* Adjust the size as needed */
    margin-left: 5px; /* Add some spacing between the menu text and the icon */
  }
  
/* Search */



/* Main */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -80px;
  }  
    
  .box {
    width: 100%;
    max-width: 1075px;
    height: 312px;
    background-color: #292929;
    margin: 30px auto; /* Adjust the desired margin */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 25px;
    align-items: left;
    color: #ffffff;
    font-family: "Outfit", sans-serif;
  }

.works-box {
  width: 100%;
  max-width: 1075px;
  height: 324px;
  background-color: #292929;
  margin: 30px auto; /* Adjust the desired margin */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-top: 20px;
  padding-right: 25px;
  align-items: left;
  color: #ffffff;
  font-family: "Outfit", sans-serif;
}
  
  .row {
    left: auto;
  }
  
  .text {
    font-size: 35px;
    text-shadow: inset 0 0 10px #000000;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
  }
  
  .text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: #8C52FF;
  }

.title {
    font-size: 22px;
    text-decoration: underline;
    color: white;
}

.title:hover {
    color: #8C52FF;
    transition: 0.3s;
  }

  .date {
    color: lightgray;
    font-size: 16px;
    margin-top: 0;
    position: relative;
  }
  
  .date::after {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #383838; /* Your desired color for the line */
    border-radius: 2px;
  }
  
  .date-row {
    margin-bottom: 300px; /* Adjust the value as needed */
  }
  
  .title-row {
    margin-top: 35px; /* Adjust the value as needed */
  }

/* About Page */

.about {
  color: lightgrey;
  margin-top: 30px;
  font-size: 16px;
  font-family: "Poppins";
}

.disclaimer {
  color: lightgrey;
  margin-top: 30px;
  font-size: 16px;
  font-family: "Poppins";
}

.about-box {
  width: 100%;
  max-width: 1075px;
  height: 200px;
  background-color: #292929;
  margin: 30px auto; /* Adjust the desired margin */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-top: 20px;
  padding-right: 25px;
  align-items: left;
  color: #ffffff;
  font-family: "Outfit", sans-serif;
}

.about-menu a {
  color: #8C52FF;
}

/* Kokuhaku Page */

.description-box {
  width: 100%;
  max-width: 1075px;
  height: 400px;
  background-color: #292929;
  margin: 30px auto; /* Adjust the desired margin */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-top: 20px;
  padding-right: 25px;
  align-items: left;
  color: #ffffff;
  font-family: "Outfit", sans-serif;
}

.story-description {
  color: lightgrey;
  margin-top: 30px;
  font-size: 16px;
  font-family: "Poppins";
}

.info-box {
  width: 100%;
  max-width: 1075px;
  height: 320px;
  background-color: #292929;
  margin: 30px auto; /* Adjust the desired margin */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-top: 20px;
  padding-right: 25px;
  align-items: left;
  color: #ffffff;
  font-family: "Outfit", sans-serif;
}

.info {
  font-size: 18px;
}

.info2 {
  font-family: poppins;
  font-size: 16px;
}

.source {
  color: white;
  text-decoration: none;
  font-family: poppins;
  font-size: 16px;
}

.source:hover {
  color: #8C52FF;
  transition: 0.3s;
}

.chapter-box {
  width: 100%;
  max-width: 1075px;
  height: 712px;
  background-color: #292929;
  margin: 30px auto; /* Adjust the desired margin */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-top: 20px;
  padding-right: 25px;
  align-items: left;
  color: #ffffff;
  font-family: "Outfit", sans-serif;
}

.chapter-text {
  font-size: 35px;
  text-shadow: inset 0 0 10px #000000;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.chapter-text::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background-color: #8C52FF;
}

.chapter-row {
  margin-top: 35px; /* Adjust the value as needed */
}

.chapter {
  font-size: 19px;
  text-decoration: underline;
  color: white;
  position: relative;
}

.chapter:hover {
  color: #8C52FF;
  transition: 0.3s;
}

.chapter::after {
  content: "";
  position: absolute;
  bottom: -22px;
  left: 0;
  width: 1075px;
  height: 3px;
  background-color: #383838; /* Your desired color for the line */
  border-radius: 2px;
}

/* Chapters */

.change-chap-box {
  width: 100%;
  max-width: 1075px;
  height: 50px;
  background-color: #292929;
  margin: 30px auto;
  border-radius: 10px;
  display: flex;
  padding-left: 25px;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 27px;
  color: #ffffff;
  justify-content: center;
}

.prev-btn, .next-btn {
  width: 100px;
  height: 40px;
  border: none;
  background-color: #8C52FF;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  font-family: outfit;
}

.prev-btn:hover, .next-btn:hover {
  opacity: 0.8;
  transition: 0.3s;
}

select {
  font-family: outfit;
  font-size: 16px;
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 4px;
  color: #1E1E1E;
}

/* Kokuhaku*/
/* Prologue */

.kp-box {
  width: 100%;
  max-width: 1075px;
  height: 1225px;
  background-color: #292929;
  margin: 30px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-top: 20px;
  padding-right: 25px;
  align-items: left;
  color: #ffffff;
  font-family: "Outfit", sans-serif;
}

.kokuhaku-prologue {
  color: lightgrey;
  margin-top: 30px;
  font-size: 16px;
  font-family: "Poppins";
}

/* Ch1 */

.kc1-box {
  width: 100%;
  max-width: 1075px;
  height: 4570px;
  background-color: #292929;
  margin: 30px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-top: 20px;
  padding-right: 25px;
  align-items: left;
  color: #ffffff;
  font-family: "Outfit", sans-serif;
}

.kc1 {
  color: lightgrey;
  margin-top: 30px;
  font-size: 16px;
  font-family: "Poppins";
}

/* Footer */
  
  footer {
    background-color: #292929;
    padding: 15px;
    text-align: center;
    color: white;
  }

  footer a {
    color: #8C52FF;
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #FF6F00;
  }
